.wrapper{
  margin: none;
  width:100%;
  height:100vh;
  background-color: black;
  color:white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0px;
}


.container{
  position: relative;
}


img{
  cursor: pointer;
}
h2{
  top:-50px;
  right:-200px;
  padding:20px;
  position: absolute;
  border: 5px solid white;
  border-radius: 50px 50px 50px 0px;
}


.first{
  margin-top: 100px;
}

.mainH1{
  position: absolute;
  z-index: 10;
  color:black;
  font-size: 40px;
}